.account_style {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
  width: 10%;
  background-color: #ffd8db;
  font-size: larger;
  text-transform: lowercase;
  padding: 20px;
  border-radius: 20px;
  color: rgb(35, 43, 155);
}
.header_style {
  display: flex;
  justify-content: space-between;
}
.para_style {
  display: flex;
  text-indent: 80px;
  padding: 12px;
  font-size: medium;
  opacity: 0.9;
  color: black;
}
.content_style {
  font: 3.8em sans-serif;
  width: 200px;
  height: 200px;
  display: flex;
  flex-wrap: wrap;
font-weight: 700;
}
.para_style > p:hover {
  background-color: white;
  text-decoration-color: blue;
  text-decoration-line: underline;
  text-decoration-thickness: 2px;
  text-transform: capitalize;
  color: black;
}
#para_align {
  width: 365px;
  height: 200px;
  display: flex;
  flex-wrap: wrap;
  line-height: 1.7;
  position: relative;
  /* top: 20px; */
  bottom: 65px;
}

.new_account {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
  width: 10%;
  background-color: #5243c0;
  color: #ffff;
  font-size: larger;
  text-transform: lowercase;
  padding: 20px;
  border-radius: 20px;
  position: relative;
  bottom: 200px;
}
.image_icon {
  position: relative;
  left: 220px;
  bottom: 260px;
}
.card_style {
  display: flex;
  /* text-indent: 20px; */
  justify-content: space-between;
  background-color:white;

  
}
.card {
  position: relative;
  bottom: 200px;
  width: 30%;
}
.status {
  border-radius: 50px;
  width: 30px;
  height: 15px;
  background-color: #fed7da;
  position: relative;
  top: 20px;
}
.card_style>p{
    position: relative;
    bottom: 10px;
    
}

.card>div>.card_style:hover{
    background-color:rgb(231, 224, 224);
    
}

.name_1{
   right: 20px;
   top: 2px;
}

.name_2{
    right: 13px;
    top: 2px;
}
.name_3{
    right: 20px;
    top: 2px;
}

.name_4{
    right: 23px;
    top: 2px;
}


.user_class1{
    position: relative;
    top: 13px;
}


.user_class2{
    position: relative;
    right: 11px;
    top: 13px;
}

.user_class3{
    position: relative;
    left: 8px;
    top: 13px;
}

.user_class4{
    position: relative;
left: 16px;
top: 13px;
}
.date_s1{
    top: 2px;
}

.date_s2{
    right: 6px;
    top: 2px;
}

.date_s3{
    left: 4px;
    top: 2px;
}

.date_s4{
    left: 9px;
    top: 2px;
}

#tick_style{
    position: relative;
    top: 15px;
} 
.main_image{
    align-items: flex-end;
    display: flex;
    float: right;
    position:relative;
    bottom: 800px;
    
}

main{
    padding:150px;
}
